# Ignorar archivos SQL
*.sql

# Ignorar archivos temporales de PHPStorm / VSCode
*.log
*.tmp
.idea/
.vscode/

# Ignorar vendor si usas composer
/vendor/


# Entornos virtuales y repositorios clonados
venv/
*.git/
